* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --primary-border-radius: 24px;

  --primary-deep-bgColor: #151522;
  --second-deep-bgColor: #131321;
  --third-deep-bgColor: #1c1a2f;

  --primary-light-bgColor: #231f35;
  --second-light-bgColor: #13111d;
  --third-light-bgColor: #11101b;

  --primary-color: white;

  --primary-task-color: #0F172A;

  --primary-size-icons: 26px;
  --seccond-size-icons: 23px;

  --primary-folder-bgColor: #1E1B2E;
}

.MuiPickersDay-root, .MuiDayCalendar-weekDayLabel,
/* .css-16hplv9-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton, .css-xp4e7m-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,.css-1bsiu4i-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,  */
/* .css-1c5829p-MuiTypography-root, */
/* .css-ap712-MuiButtonBase-root-MuiCheckbox-root, */
.MuiInputBase-input,
/* .css-1umw9bq-MuiSvgIcon-root,
.css-lohd6h-MuiSvgIcon-root-MuiSelect-icon */
.MuiSvgIcon-root,
.MuiCheckbox-root 
{
  color: var(--primary-color) !important;
}

a {
  color: var(--primary-color) !important;
}

.textArea::placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  font-weight: 400;
  font-size: 15px;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  border-radius: 20px;
}


.MuiInputBase-input {
  color: white !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}



.css-zfk6lg-MuiList-root {
  background-color: var(--primary-task-color);
  border-radius: var(--primary-border-radius);
  box-shadow: 0px 2px 10px white;
}

body {
  width: 100%;
  color: var(--primary-color) !important;
}

.app {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--primary-deep-bgColor);

}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  width: 96%;
  height: 40px;
  padding-left: 10px;
}

input:focus-visible {
  outline: none;
}

.css-cokf1l-MuiListItemIcon-root {
  min-width: 30px !important;
  color: white !important;
}

.circle,
.avatar,
.search {
  cursor: pointer;
}

.css-b7dj7n-MuiList-root {
  padding: 16px 0;
}

.css-1umw9bq-MuiSvgIcon-root {
  font-size: 20px !important;
}

.css-4bx69l-MuiButtonBase-root-MuiListItemButton-root.Mui-selected, .css-4bx69l-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: transparent;
  opacity: 0.6;
}

.css-rizt0-MuiTypography-root {
  font-weight: 500;
}

.active .css-rizt0-MuiTypography-root {
  font-weight: 800 !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important; /* <-- This is the key */
  color: white !important;
  caret-color: white !important;
}

